{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="Firstname" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Lastname" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}